.col-md-3 {
    border: pink solid 1px;
    height: 300px;
    margin-top: 10px;;
}

.col-md-7 {
    height: 300px;
    margin-top: 10px;
}

.card-body {
    border: blue solid 1px;
    height: 300px;
}

.card-title {
    padding-bottom: 10px;
    font-weight: 600;
}