$mobile: 320px; //"default"? - trying to design mobile first
$tablet: 768px;
$desktop: 1000px; 

.col-md-4 {
    overflow: hidden;
    max-width: 500px;
}

.img {
    object-fit: cover;
    margin-top: 10px;

    @media only screen and(min-width: $mobile){
        max-width: 200px;
        height: 300px;
    }

    @media only screen and(min-width: $tablet){
        max-width: 400px;
        height: 500px;
    }

    @media only screen and(min-width: $desktop){
        max-width: 500px;
        height: 700px;
    }
}

@media only screen and(min-width: $tablet) {
    .img:hover {
        opacity: 50%;
    }
}
