$mobile: 320px; //"default"? - trying to design mobile first
$tablet: 768px;
$desktop: 1000px; 

body {
    max-width: 1800px;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    margin-bottom: 40px;
}